<div class="filter-title">
    <span>
        {{ title }}
    </span>
</div>
<div>
    <div class="cm-range-slider">
        <div class="row">
            <div class="col-xs-6">
                <label for="{{ name }}-min">
                    <small>{{ _p('From') }}</small>
                </label>
                <input id="{{ name }}-min" type="number" value="{% if value %}{{ value.min }}{% else %}{{ min }}{% endif %}"
                       class="form-control" name="{{ name }}[min]" min="{{ min }}" max="{{ max }}"/>
            </div>
            <div class="col-xs-6">
                <label for="{{ name }}-max">
                   <small>{{ _p('To') }}</small>
                </label>
                <input id="{{ name }}-max" type="number" value="{% if value %}{{ value.max }}{% else %}{{ max }}{% endif %}"
                       class="form-control" name="{{ name }}[max]"  min="{{ min }}" max="{{ max }}"/>
            </div>
        </div>
    </div>
</div>
