<div class="table_left">{{ title }}</div>
<div class="table_right">
    <div class="cm-range-slider">
        <input type="text" class="integer-slider form-control" value=""
               data-slider-min="{{ min }}" data-slider-max="{{ max }}" data-slider-step="1"
               data-slider-value="[{% if value %}{{ value.min }},{{ value.max }}{% else %}{{ min }},{{ max }}{% endif %}]"/>
        <div class="row">
            <div class="col-xs-6">
                {{ _p('min') }}: {{ min }}
            </div>
            <div class="col-xs-6 text-right">
                {{ _p('max') }}: {{ max }}
            </div>
        </div>
        <div class="data">
            <input type="hidden" value="{% if value %}{{ value.min }}{% else %}{{ min }}{% endif %}" class="min-value" name="{{ name }}[min]">
            <input type="hidden" value="{% if value %}{{ value.max }}{% else %}{{ max }}{% endif %}" class="max-value" name="{{ name }}[max]">
        </div>
    </div>
</div>
