<fieldset>
    <legend>{{ title }}</legend>
    <div class="table_left">
        <label for="{{ name }}_field_price">{{ title }} {{ _p('price') }} : </label>
    </div>
    <div class="table_right">
        <div class="">
            <select class="form-control" name="{{ name }}[currency_id]">
                {% for sCurrency, aCurrency in aCurrencies %}
                <option value="{{ sCurrency }}"
                        {% if value_currency_id ==  sCurrency or aCurrency.is_default %}
                        selected="selected"
                        {% endif %}
                >
                    {{ _p(aCurrency.name) }}
                </option>
                {% endfor %}
            </select>
            <input class="form-control" type="text" name="{{ name }}[price]" value="{{ value_price }}" id="{{ name }}_field_price" size="10" maxlength="100" onfocus="this.select();" />
        </div>
    </div>

    <div class="table_left">
        <label for="{{ name }}_field">{% if required %}<span class="required">*</span>{% endif %} {{ title }}</label>
    </div>
    <div class="table_right">
        <input type="hidden" name="{{ name }}[file]" value="{{ value }}">
        <input class="form-control" type="file" name="{{ name }}_file" id="{{ name }}_field" />
    </div>
</fieldset>

{% if hasError %}
<span class="help-block">
        <ul>
            {% for error in errors %}
            <li>
                {{ error }}
            </li>
            {% endfor %}
        </ul>
    </span>
{% endif %}